input,
select,
textarea {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    min-height: 40px;
}

textarea {
    min-height: 100px;
    font-family: inherit;
}

label {
    font-size: .8rem;
}

form > div + div {
    margin-top: 1rem;
}

.tm-submit-block {
    display: flex;
    flex-flow: row nowrap;
}

.tm-submit-block > * {
    width: 50%;
}

input[type="submit"],
.tm-btn {
    background-color: #1a7bd5;
    border-radius: 5px;
    transition: background-color .3s;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

input[type="submit"]:hover,
.tm-btn:hover {
    background-color: #1363ae;
}

input[type="submit"] + .tm-btn {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.tm-btn-green {
    background-color: #3b9142;
}

.tm-btn-green:hover {
    background-color: #327938;
}

/* Uploading Animated Spinner */
.uploading-data-spinner {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid #1a7bd5;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }