table tbody td:nth-child(2n) {
  background-color: var(--color-gray-100)
}

thead > tr > th:first-child {
  min-height: 55px;
}

thead > tr > th:last-child {
  min-height: 43px;
}

table thead tr {
  border: 1px solid lab(76.0109% -53.3483 -2.27906);
}

table thead th {
  border-bottom: 1px solid lab(76.0109% -53.3483 -2.27906);
}

table tbody tr {
  border: 1px solid #ccc;
}

table tbody td:nth-child(2n) {
  background-color: initial;
}

table tbody td:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

table tbody td:nth-child(2n) {
    background-color: var(--color-gray-100);
  }

@media (min-width: 768px) {
  table {
    display: inline-table !important;
  }

  table tbody tr:nth-child(2n) {
    background-color: var(--color-gray-100);
  }

  table tbody td:nth-child(2n) {
    background-color: initial;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

